.caja
{
    position: relative;
    width: auto;
    text-align: center;
    display:inline-flex;
}

.body {
    margin: 0;
    padding: 0;
    left: 0%;
    height: 0%;    
}

.header 
{
    margin: 0;
    padding: 0;
    background-color: #c4f7ba;

}
nav
{
    position: relative;
    top: 1em;
    right: 5em;
}

nav a 
{
    text-transform: uppercase;
    color: rgb(25, 133, 52);
    font-weight: bold;
    font-size: 2em;
    text-decoration: none; 
    margin:0em 0em 0em 40em;
}

#BotonSalir
{
    position: relative;
    text-align: center;
}

nav a:hover
{
    border: solid;
    border-color: rgb(46, 170, 56);
    background: rgb(46, 170, 56);
    padding: 10px;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
}

main
{
    width: auto;  
    margin: auto;
}

form,imput
{
    margin: 20px 0px;
    position: relative;
}

form label, form p
{
    display: inline-block;
    font-weight: lighter;
    font-size: 20px;
    margin: 5px;
}

#Registrate
{
    display: inline-block;
    font-size: 35px;
    margin: 30px 390px;
}

p#Registrate 
{
    padding: 15px;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    color:black;
}

.CajaTexto
{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    position: inherit;
    border-color: darkgray;
    border-radius: 20px;
}

.registrate
{
    display: inline-block;
    margin: 20px 210px;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #1465bb;
    border: none;
    border-radius: 30px;
    transition: 1s background;
    cursor: pointer;
    vertical-align: top;
}

.registrate:hover
{
    background:#003785;
    transition: 0.3s transform;
    transform: scale(1.1);
}

#ImagenRegistro
{
    position: absolute;
    top: 300px;
    right: 60px;
}

#mensajeregistro
{
    font-size: 25px;
    color: #097509;
    font-weight: bold;
    position:absolute;
    text-align: center;
    top: 700px;
    right: 35px;
}

#mensajeregistro2
{
    font-size: 25px;
    color: #097509;
    font-weight: bold;
    position:absolute;
    text-align: center;
    top: 730px;
    right: 0px;
}

footer
{
    FONT-WEIGHT: 100;
    width: 100%;
    height: 60px;
    font-size: 25px;
    margin: 20px;
    text-align: center;
    color: white;
}



nav li
{
    display: inline;
    margin: 0 0 0 55px;
}

.Contenedorr {
    background-color:whitesmoke;
    padding: 4em;
}

.Formularioo {
    background-color: white;
    width: 50%;
    padding: 1em 3em 2em 3em;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer {
    background-color: #81c9fa;
    color: white;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.items-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.border {
    border-bottom: 1px solid;
    height: 1px;
    width: 80%;
}

.footer .title,
.footer p {
    text-align: center;
    margin: 0;
}

@media (max-width: 900px) {
    .content-items {
        width: 100%;
        margin: 0 auto;
    }

    .titles {
        font-size: 1.7rem;
    }
}